<template>
  <div :style="{'background-color': getBGColor()}">
    <p>Tirelire de {{ props.tirelire.owner }}</p>
    <p>Solde : {{ props.tirelire.amount }}€</p>
    <p>
      <label for="save-up">Economiser:</label>
      <input type="number" id="save-up" name="save-up" placeholder="montant..." v-model="amount" />
      <button @click="saveUpAndUpdate">Economiser</button>
    </p>
    <p>
      <button @click="spendAndUpdate">Dépenser</button>
    </p>
  </div>
</template>

<script setup lang="ts">
import type {ITirelire} from '@/models/ITirelire'
import {ref} from 'vue'
import {saveUp, spend} from '@/api/tirelire_api'

const emit = defineEmits(['updateTirelires', 'updateTirelire'])

const amount = ref(0)

const props = defineProps<{
  tirelire: ITirelire
}>()

function saveUpAndUpdate() {
  saveUp(props.tirelire.owner, amount.value).then(() => {
    emit('updateTirelires')
  })
}

function spendAndUpdate() {
  spend(props.tirelire.owner).then(() => emit('updateTirelires'))
}

function getRandomNumber() {
    return Math.ceil(Math.random() * 250)
}

function getBGColor(){
    const red = getRandomNumber()
    const green = getRandomNumber()
    const blue = getRandomNumber()
  return `rgba(${red}, ${green}, ${blue}, 0.2)`
}
</script>

<style scoped>
div {
  border-radius: 7%;
  height: 100%;
  padding: 10px;
}
</style>
