<script setup lang="ts">
import type {Ref} from 'vue'
import {computed, onMounted, ref} from 'vue'
import type {ITirelire} from '@/models/ITirelire'
import TirelireItem from '@/components/TirelireItem.vue'
import {addTirelire, listTirelires} from '@/api/tirelire_api'

const tirelires: Ref<ITirelire[]> = ref([])
const search = ref('')

const filteredTirelires = computed(() => {
  return tirelires.value.filter((tirelire) => tirelire.owner.toLowerCase().includes(search.value))
})

function updateTirelires() {
  listTirelires().then((value) => (tirelires.value = value))
}

onMounted(() => {
  updateTirelires()
})

function addTirelireAndUpdate() {
  addTirelire(search.value).then(() => updateTirelires())
  clearSearch()
}

function searchedTirelireDoesNotExist() {
    return search.value.length > 0 &&
        filteredTirelires.value.filter(tirelire => tirelire.owner == search.value).length == 0
}

function clearSearch() {
  search.value = ''
}
</script>

<template>
  <main>
    <div class="container">
      <header>
        <h1>Application de tirelires</h1>
        <div class="recherche">
          <label for="tirelire-owner">Chercher ou ajouter une tirelire : </label>
          <input
            type="text"
            id="tirelire-owner"
            name="tirelire-owner"
            placeholder="Nom..."
            v-model="search"
          />
          <button @click="clearSearch">Clear</button>
        </div>
      </header>
      <div class="tirelires-container">
        <div class="tirelire" v-for="tirelire in filteredTirelires" :key="tirelire.owner">
          <TirelireItem :tirelire="tirelire" @update-tirelires="updateTirelires" />
        </div>
        <div v-if="searchedTirelireDoesNotExist()">
          La tirelire "{{ search }}" n'existe pas, voulez-vous la créer ?
          <button @click="addTirelireAndUpdate">Créer</button>
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
main {
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 0 auto;
  max-width: 50%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.container input {
  margin-left: 10px;
}

button {
  cursor: pointer;
}

.tirelires-container {
  display: flex;
  flex-wrap: wrap;
}

.tirelire {
  width: 240px;
  height: 240px;
  padding: 0 10px 20px 10px;
  border: 5px;
}
</style>
